body {
  background-color: #17162e;
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
  padding: 1.5rem;
  height: auto;
}

.flex_container {
  min-height: 100vh;
  height: auto;
}

.flex_container h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 44.65px;
  white-space: nowrap;
}

.content_formulario {
  width: 60%;
}

.content_formulario input {
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  padding: 7px 12px;
  height: 74px;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #4a4a4a;
}

.content_formulario button {
  text-align: center;
  cursor: pointer;
  background-color: #4a4a4a;
  padding: 7px;
  height: 74px;
  border-radius: 0px 8px 8px 0px;
}

ul {
  width: 90%;
}

li {
  padding: 0.5rem 1rem;
  background-color: #1d1c3b;
  border-radius: 8px;
  box-shadow: 6.57px 4.91px 12.84px 0px #00000013;
}

li > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 31.86px;
}

.content_info {
  width: 100%;
}

.content_info > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.32px;
}

.movie_info {
  width: 80%;
}

.movie_detals > p,
.movie_detals_favorito > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.32px;
}

.movie_detals_favorito{
  cursor: pointer;
}


.content > img {
  width: 5rem;
  height: 5rem;
  border-radius: 1%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

@media (width <= 884px) {
  .content_formulario button {
    
  }
}

@media (width <= 691px) {
  .content {
    flex-direction: column;
  }
}

@media (width <= 428px) {
  .flex_container h1 {
    font-size: 1.4rem;
  }

  .content {
    flex-direction: column;
  }

  body {
    padding: 1rem;
  }

  .content_formulario {
    width: 100%;
    padding: 0 0.5rem;
  }
}
