body {
  background-color: #17162e;
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
  padding: 1.5rem;
  height: auto;
}

.flex_container {
  min-height: 100vh;
  height: auto;
}

.flex_container h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 44.65px;
}

.content_formulario {
  width: 60%;
}

.content_formulario input {
  width: 100%;
  border-radius: 8px;
  padding: 7px 12px;
  height: 74px;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #4a4a4a;
}

.content_formulario button {
  position: relative;
  right: 4%;
  top: 4%;
  text-align: center;
  cursor: pointer;
}

ul {
  width: 90%;
}

li {
  padding: 0.5rem 1rem;
  background-color: #1d1c3b;
  border-radius: 8px;
  box-shadow: 6.57px 4.91px 12.84px 0px #00000013;
}

li > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 31.86px;
}

.content_info {
  width: 100%;
}

.content_info > p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22.32px;
}

.movie_info {
  width: 80%;
}

.movie_detals > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.32px;
}

.content>img{
  width: 5rem;
  height: 5rem;
  border-radius: 1%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}