.flex_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
}

.content_formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_favoritos {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

li > p {
  flex: 2;
}

.content_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.movie_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.movie_detals,
.movie_detals_favorito {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
